In [1]:
import json
import pandas as pd
from glob import glob

In [2]:
cities = pd.read_csv("data/PEP_2015_PEPANNRSIP.US12A_with_ann.csv")[['GC_RANK.display-label','respop72015']]

cities['city'] = cities['GC_RANK.display-label'].apply(lambda x : x.split(',')[0].strip().replace("United States - ","").replace(" city",""))
cities['state'  ] = cities['GC_RANK.display-label'].apply(lambda x : x.split(',')[-1].strip())



cities = cities[['city','state','respop72015']]

print cities

                                                  city                 state  \
0                                             New York              New York
1                                          Los Angeles            California
2                                              Chicago              Illinois
3                                              Houston                 Texas
4                                         Philadelphia          Pennsylvania
5                                              Phoenix               Arizona
6                                          San Antonio                 Texas
7                                            San Diego            California
8                                               Dallas                 Texas
9                                             San Jose            California
10                                              Austin                 Texas
11                                        Jacksonville               Florida
12                                       San Francisco            California
13                              Indianapolis (balance)               Indiana
14                                            Columbus                  Ohio
15                                          Fort Worth                 Texas
16                                           Charlotte        North Carolina
17                                             Seattle            Washington
18                                              Denver              Colorado
19                                             El Paso                 Texas
20                                             Detroit              Michigan
21                                          Washington  District of Columbia
22                                              Boston         Massachusetts
23                                             Memphis             Tennessee
24   Nashville-Davidson metropolitan government (ba...             Tennessee
25                                            Portland                Oregon
26                                       Oklahoma City              Oklahoma
27                                           Las Vegas                Nevada
28                                           Baltimore              Maryland
29   Louisville/Jefferson County metro government (...              Kentucky
..                                                 ...                   ...
728                                         Brookhaven               Georgia
729                                        Palm Desert            California
730                                             Joplin              Missouri
731                                               Enid              Oklahoma
732                                     Bonita Springs               Florida
733                                           Caldwell                 Idaho
734                                         Minnetonka             Minnesota
735                                      Pinellas Park               Florida
736                                       Battle Creek              Michigan
737                                        Casa Grande               Arizona
738                                       Grand Island              Nebraska
739                                          Grapevine                 Texas
740                                           Kentwood              Michigan
741                                             Tigard                Oregon
742                                       Apple Valley             Minnesota
743                                         Plainfield            New Jersey
744                                      Leesburg town              Virginia
745                                       Coral Gables               Florida
746                                           Lakewood                  Ohio
747                                             Burien            Washington
748                                              Logan                  Utah
749                                            Olympia            Washington
750                                        Aliso Viejo            California
751                                          Galveston                 Texas
752                                              Poway            California
753                                              Edina             Minnesota
754                                               Troy              New York
755                                         Charleston         West Virginia
756                                            Saginaw              Michigan
757                                      Niagara Falls              New York

     respop72015
0        8550405
1        3971883
2        2720546
3        2296224
4        1567442
5        1563025
6        1469845
7        1394928
8        1300092
9        1026908
10        931830
11        868031
12        864816
13        853173
14        850106
15        833319
16        827097
17        684451
18        682545
19        681124
20        677116
21        672228
22        667137
23        655770
24        654610
25        632309
26        631346
27        623747
28        621849
29        615366
..           ...
728        51910
729        51869
730        51818
731        51776
732        51704
733        51686
734        51669
735        51617
736        51589
737        51460
738        51440
739        51404
740        51357
741        51253
742        51221
743        51217
744        51209
745        51117
746        50656
747        50467
748        50371
749        50302
750        50195
751        50180
752        50157
753        50138
754        49906
755        49736
756        49347
757        48916

[758 rows x 3 columns]

In [3]:
businesses = pd.read_csv("data/yelp_academic_dataset_business.csv")
#print list(businesses.columns)
businesses = businesses[['name','review_count', 'stars', 'type','city','state','business_id']]

states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'}
stateNames = states.keys()
#print businesses.shape
businesses = businesses[businesses['state'].isin(stateNames)]
#print businesses.shape
businesses['state'  ] = businesses['state'].apply(lambda x : states[x])
print businesses['state'].value_counts()
print businesses.head()
#print businesses.head()
#list(businesses.columns)
#businesses = businesses[businesses['state'].isin(states.keys())]
#print                                           =='EDH'].city.value_counts()

C:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (13,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Arizona           32615
Nevada            21233
North Carolina     6162
Pennsylvania       3754
Wisconsin          2802
Illinois            737
South Carolina      271
California            3
Texas                 2
Minnesota             1
Massachusetts         1
Oregon                1
Arkansas              1
New Mexico            1
Alabama               1
Name: state, dtype: int64
                       name  review_count  stars      type         city  \
0                 Mr Hoagie             4    4.5  business   Dravosburg
1              Clancy's Pub             4    3.5  business   Dravosburg
2          Joe Cislo's Auto             3    5.0  business   Dravosburg
3  Cool Springs Golf Center             5    2.5  business  Bethel Park
4                   Verizon             5    2.5  business   Pittsburgh

          state             business_id
0  Pennsylvania  5UmKMjUEUNdYWqANhGckJw
1  Pennsylvania  UsFtqoBl7naz8AVUBZMjQQ
2  Pennsylvania  3eu6MEFlq2Dg7bQh8QbdOg
3  Pennsylvania  cE27W9VPgO88Qxe4ol6y_g
4  Pennsylvania  HZdLhv6COCleJMo7nPl-RA

In [4]:
merged = pd.merge(businesses, cities, how='left', left_on=['city','state'], right_on=['city','state'], sort=True, copy=True, indicator=False)

In [5]:

print merged[merged['respop72015'].isnull()].shape
merged['big'  ] = merged['respop72015'].apply(lambda x : np.isnull()  states[x])

SyntaxError: invalid syntax (<ipython-input-5-7938e8d68f08>, line 3)

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.lmplot(x="respop72015", y="stars", data=merged);

In [ ]:
print list(reviews.columns.values)
reviews = pd.read_csv("data/yelp_academic_dataset_review.csv",nrows=400)

#reviews = reviews[['name','review_count', 'stars', 'type','city','state','business_id']]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features = 1000,
                             ngram_range=(1, 2),
                             stop_words='english',
                             binary=True)

In [ ]:


from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.feature_extraction.text import TfidfVectorizer

model = RandomForestClassifier(n_estimators = 20)

text = reviews['text'].fillna('')

vectorizer.fit(text)

# Use `tranform` to generate the sample X word matrix - one column per feature (word or n-grams)
#X = vectorizer.transform(text).toarray()



#- Use `tranform` to generate the sample X word matrix - one column per feature (word or n-grams)
X = vectorizer.transform(text)
reviews['positivity'] = reviews['stars'].apply(lambda x : x > 3)
y = reviews['positivity']

scores = cross_val_score(model, X, y, scoring='roc_auc')
print('CV AUC {}, Average AUC {}'.format(scores, scores.mean()))

In [ ]:
print list(reviews.columns.values)